.news {
    padding: 100px 0;
}

.news h2 {
    font-size: 36px;
    line-height: 36px;
    color: #7FB154;
    font-family: 'BebasNeue-Regular';
    margin-bottom: 70px;
    position: relative;
    text-align: center;
    width: 100%;
}

.news h2::before {
    content: 'НОВОСТИ';
    position: absolute;
    top: -110%;
    right: 0%;
    color: rgba(104, 104, 104, 0.1);
    font-size: 1.5em;
    width: 100%;
}

.news-box,
.news-box-mini {
    margin-bottom: 50px;
}

.news-box-mini .news-poster {
    margin-bottom: 0 !important;
}

.news-box .news-poster {
    margin-bottom: 20px;
    position: relative;
}

.news h3 a {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-family: 'BebasNeue-Bold';
    color: #6B6B6B;
    text-align: left;
}

.news p {
    font-size: 18px;
    line-height: 21px;
    font-family: 'SF UI Regular';
    color: #939393;
}

.news-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 69, 0, 0.6);
    transform: scale(0);
    transition: .3s;
}

.news-poster:hover .news-hover {
    transform: scale(1);
}

.all-news a {
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: underline;
    font-family: 'BebasNeue-Regular';
    color: #6B6B6B;
    text-decoration: underline !important;
}

.all-news {
    margin-top: 40px;
}